.Container{
    position: relative;
    width: 100%;
}
.SwitchSection{
    position: relative;
    margin: 1rem auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.SwitchSection button{ 
    margin: 0;
    padding:5px;
    width: 35%;
    border:0px;
    outline: none;
   
}
.SwitchSection button:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .SwitchSection button:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }


.Active{
    background-color: #1979a9;
    color:white;
}

.NewUser{
    width: 15%;
    background-color: 	#28a745;
    border: none;
    outline: none;
    color: white;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 30px;
}
.NewUser:focus{
    outline: none;
}
.EmployeesHeader{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}
.Name,.Email,.Role{
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.Name p{
    margin: auto 0;
    text-align: justify;
}

.Email p{
    margin:  auto 0;
    text-align: justify;
    padding-left:0.5rem
}

.Role p{
    margin:  auto 0;
    text-align: justify;

}

@media screen and (max-width:960px){
    .NewUser{
        width: 20%;
    }
}
@media screen and (max-width:870px){
    .SwitchSection{
        position: relative;
        margin: 0 auto;
        width: 100%;
        flex-direction: column;
    }
    .SwitchSection button{
        width: 50%;
    }
    
}
